body {
    margin-top: 2.54cm;
    background-color: #121619;
    padding: 2.54cm;
}

.header {
    display: flex;
    align-items: center; 
    justify-content: space-between; 
}

h1 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 9ch;
    color: #E6E8E6;
    margin: 0;
    padding: 0;
}

img {
    margin: 0;
    padding: 0;
}

.description {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-top: 10%;
    text-align: center;
    font-size: 4ch;
    color: #E6E8E6;
}

h2 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    margin-top: 10%;
    margin-bottom: 0;
    padding-top: 44px;
    padding-bottom: 44px;
    font-size: 4ch;
    color: #E6E8E6;
    background-color: #93032E;
}

.essay1 {
    background-color: #317B22;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: left;
    font-size: 4ch;
    color: #E6E8E6;
    padding: 1cm;
    margin: 0;
}

.essay2 {
    background-color: #317B22;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: left;
    font-size: 4ch;
    color: #E6E8E6;
    padding: 1cm;
    margin: 0;
}

.essay3 {
    background-color: #317B22;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: left;
    font-size: 4ch;
    color: #E6E8E6;
    padding: 1cm;
    margin: 0;
}

a, a:visited {
    color: #E6E8E6; 
}

a:hover {
    text-decoration: none;
}

h3 {
    background-color: #CBA135;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: left;
    font-size: 4ch;
    color: #E6E8E6;
    padding-top: 1cm;
    padding-left: 1cm;
    padding-right: 1cm;
    padding-bottom: 0cm;
    margin: 0;
}

.Java {
    background-color: #CBA135;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: left;
    font-size: 3ch;
    color: #E6E8E6;
    padding-top: 0.25cm;
    padding-left: 1cm;
    padding-right: 1cm;
    padding-bottom: 0.25cm;
    margin: 0;
}

.SAP {
    background-color: #CBA135;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: left;
    font-size: 3ch;
    color: #E6E8E6;
    padding-top: 0.25cm;
    padding-left: 1cm;
    padding-right: 1cm;
    padding-bottom: 0.25cm;
    margin: 0;
}

.Contacts {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: left;
    font-size: 3ch;
    color: #E6E8E6;
    padding-top: 1cm;
}